@mixin reset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin truncate($maxWidth: 100%) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $maxWidth;
}
